.tooltip {
  font: 12px 'Open Sans';
  display: none;
  width: 150px;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 7px;
  position: absolute;
  z-index: 100;
  top: 70%;
  left: 210%;
  margin-left: -60px;
  border: 1px solid #e7ebf3;
  box-shadow: 0 4px 14.4px 3.6px rgba(239, 242, 247, 0.84), 0 4px 14.4px 3.6px rgba(196, 202, 215, 0.07);

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
}
